<h1>Data Uploader</h1>

  <%= simple_form_for (@file_upload) do |f| %>
    <%= f.input :reinsurance_network, collection: FileUpload::NETWORKS %>
    <%= f.input :balance_year, collection: FileUpload::YEARS %>
    <%= f.input :quarter, collection: FileUpload::QUARTERS %>
    <%= f.input :file_name %>
    <%= f.button :submit, class: "btn-yellow" %>
  <% end %>

<p><%= link_to "back to dashboard", pages_path, class: "btn-yellow" %></p>

<h2>Latest uploads</h2>

  <% FileUpload.last(3).each do |file_upload| %>
    <p><%= file_upload.balance_year %> - Q <%= file_upload.quarter %> - <%= file_upload.reinsurance_network %> - by <%= file_upload.user.first_name %></p>
  <% end %>
