
<!-- <div class="container-all"> -->

  <div class="container-dashboard" id="dashboard-area">

    <div class="container-top">

    <div id="sortableKpi" class="container-left">
      <div class="card-kpi">
        <p class="kpi-title">Commissions Ratio</p>
        <h3 class="kpi-amount"><%= number_to_percentage(@commission_ratio, precision: 2)   %></h3>
        <canvas id="kpiCommissions" data-years="<%= @data_process.map { |k, v| k  }.to_json %>" data-process-json="<%= @data_process.map{ |k, v| v[:reins_comm_ratio] }.to_json %>"></canvas>
      </div>
      <div class="card-kpi">
        <p class="kpi-title">Claims Ratio</p>
        <h3 class="kpi-amount"><%= number_to_percentage(@claim_ratio , precision: 2) %></h3>
        <canvas id="kpiClaims" data-years="<%= @data_process.map { |k, v| k  }.to_json %>" data-process-json="<%= @data_process.map{ |k, v| v[:claim_ratio] }.to_json %>"></canvas>
      </div>
      <div class="card-kpi">
        <p class="kpi-title">Balance Ratio</p>
        <h3 class="kpi-amount"><%= number_to_percentage(@balance_ratio, precision: 2) %></h3>
        <canvas id="kpiBalance" data-years="<%= @data_process.map { |k, v| k  }.to_json %>" data-process-json="<%= @data_process.map{ |k, v| v[:balance_ratio] }.to_json %>"></canvas>
      </div>
    </div>

      <div class="container-right">
        <div class="card-table">
          <table>
            <tbody>
              <tr>
                <th scope="col" >  Accounting Item</th>
                <% @data_process.each do |k, v| %>

                <th> <%= k %> </th>
                <% end %>
              </tr>

                <% AccountingDatum.attributes_keys.each do |key| %>

              <tr>
                <th scope="row"> <%= key.to_s %></th>
                 <% @data_process.each do |k, v| %>

                     <td> <%= number_with_precision(v[key], precision: 2, separator: '.', delimiter: ',') %> </th>
                <% end %>
              </tr>

              <% end  %>

            </tbody>
          </table>
        </div>

        <div id="sortableCharts" class="container-chart">
          <div class="card-chart">
            <div class="card-chart-img">
            </div>
            <div class="card-chart-text">
              Premium
              <canvas id="premiumChart"  data-years="<%= @data_process.map { |k, v| k  }.to_json %>" data-process-json="<%= @data_process.map{ |k, v| v[:premium] }.to_json %>">    </canvas>
            </div>
          </div>
          <div class="card-chart">
            <div class="card-chart-img">
            </div>
            <div class="card-chart-text">
              Balance
              <canvas id="balanceChart" data-years="<%= @data_process.map { |k, v| k  }.to_json %>" data-process-json="<%= @data_process.map{ |k, v| v[:balance] }.to_json %>"></canvas>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="container-bottom">
      <div class="card-news">
        <h3>Latest News</h3>
        <p>Prudential Plans to Boost Life Insurance Prices for Vapers</p>
      </div>
    </div>

  </div>
<!--
</div> -->
