
<!-- <div class="container-all"> -->

  <div class="container-dashboard">

<div class="wrapper">
  <div class="sidebar-main">
    <p>Balance Year</p>
    <input type="checkbox" name="BY"><% @select_years.each do |year| %>
      <li><%= check_box_tag "year[#{year}]", year %>
      <%= label_tag year %></li>
    <% end %>
    <p>Countries</p>
      <input type="checkbox" name="country"><% @select_countries.each do |country| %>
        <li><%= check_box_tag "country[#{country}]", country %>
        <%= label_tag country %></li>
      <% end %>
    <p>Networks</p>
      <input type="checkbox" name="network"><% @select_networks.each do |network| %><li><%= check_box_tag "network[#{network}]", network %><%= label_tag network %></li>
      <% end %>

    <p><input type="submit" value="Submit"></p>
    </form>
  </div>
</div>


    <div class="container-top">


    <div class="container-left">
      <div class="card-kpi">
        <p class="kpi-title">Commissions Ratio</p>
        <h3 class="pki-amount"><%= @commission_ratio %></h3>
      </div>
      <div class="card-kpi">
        <p class="kpi-title">Claims Ratio</p>
        <h3 class="pki-amount"><%= @claim_ratio %></h3>
      </div>
      <div class="card-kpi">
        <p class="kpi-title">Balance Ratio</p>
        <h3 class="pki-amount"><%= @balance_ratio%></h3>
      </div>
      <div class="card-kpi">
        <p class="kpi-title">Reinsurance Comm Ratio</p>
        <h3 class="pki-amount"><%= @reins_comm_ratio%></h3>
      </div>
      <div class="card-kpi">
        <p class="kpi-title">Broker Comm Ratio</p>
        <h3 class="pki-amount"><%= @broker_comm_ratio%></h3>
      </div>
    </div>

      <div class="container-right">

        <div class="card-table">
          <table>
            <tbody>
              <tr>
                <th scope="col" >  Accounting Item</th>
                <th scope="col" class='BY'>2016</th>
                <th scope="col" class='BY'>2017</th>
                <th scope="col" class='BY'>2018</th>
              </tr>
              <tr>
                <th scope="row">  Premium</th>
                <td><%= @premium %></td>
                <td><%= @premium %></td>
                <td><%= @premium %></td>
              </tr>
              <tr>
                <th scope="row">  Premium & Res Var</th>
                <td><%= @premium_and_reserves_change %></td>
                <td><%= @premium_and_reserves_change %></td>
                <td><%= @premium_and_reserves_change %></td>
              </tr>
              <tr>
                <th scope="row">  Claims Paid</th>
                <td><%= @claim_paid %></td>
                <td><%= @claim_paid %></td>
                <td><%= @claim_paid %></td>
              </tr>
              <tr>
                <th scope="row">  Paid Claims & Res Var</th>
                <td><%= @claim_paid_and_reserves_change %></td>
                <td><%= @claim_paid_and_reserves_change %></td>
                <td><%= @claim_paid_and_reserves_change %></td>
              </tr>
              <tr>
                <th scope="row">  Reinsurance Comm</th>
                <td><%= @reinsurance_comm %></td>
                <td><%= @reinsurance_comm %></td>
                <td><%= @reinsurance_comm %></td>
              </tr>
              <tr>
                <th scope="row">  Broker Comm</th>
                <td><%= @broker_comm %></td>
                <td><%= @broker_comm %></td>
                <td><%= @broker_comm %></td>
              </tr>
              <tr>
                <th scope="row">  Profit Sharing</th>
                <td><%= @profit_sharing %></td>
                <td><%= @profit_sharing %></td>
                <td><%= @profit_sharing %></td>
              </tr>
              <tr>
                <th scope="row">  Taxes</th>
                <td><%= @taxes %></td>
                <td><%= @taxes %></td>
                <td><%= @taxes %></td>
              </tr>
              <tr>
                <th scope="row">  Interests</th>
                <td><%= @interests %></td>
                <td><%= @interests %></td>
                <td><%= @interests %></td>
              </tr>
              <tr>
                <th scope="row">  Technical Balance</th>
                <td class='last-row'><%= @balance %></td>
                <td class='last-row'><%= @balance %></td>
                <td class='last-row'><%= @balance %></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="container-chart">
          <div class="card-chart">
            <div class="card-chart-img">
            </div>
            <div class="card-chart-text">
              Premium / Year
              <canvas id="premiumChart"></canvas>
            </div>
          </div>
          <div class="card-chart">
            <div class="card-chart-img">
            </div>
            <div class="card-chart-text">
              Balance / Year
              <canvas id="balanceChart"></canvas>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="container-bottom">
      <div class="card-news">
        <h3>Latest News</h3>
        <p>Prudential Plans to Boost Life Insurance Prices for Vapers</p
      </div>
    </div>

  </div>
<!--
</div> -->
