
<div class="container-all">

  <div class="container-dashboard">

    <div class="container-top">


    <div class="container-left">
      <div class="card-kpi">
        <p class="kpi-title">Commissions Ratio</p>
        <h3 class="pki-amount"><%= @commission_ratio %></h3>
      </div>
      <div class="card-kpi">
        <p class="kpi-title">Claims Ratio</p>
        <h3 class="pki-amount"><%= @claim_ratio %></h3>
      </div>
      <div class="card-kpi">
        <p class="kpi-title">Balance Ratio</p>
        <h3 class="pki-amount"><%= @balance_ratio%></h3>
      </div>
      <div class="card-kpi">
        <p class="kpi-title">Reinsurance Comm Ratio</p>
        <h3 class="pki-amount"><%= @reins_comm_ratio%></h3>
      </div>
      <div class="card-kpi">
        <p class="kpi-title">Broker Comm Ratio</p>
        <h3 class="pki-amount"><%= @broker_comm_ratio%></h3>
      </div>
    </div>

      <div class="container-right">

        <div class="card-table">
          <table>
            <tbody>
              <tr>
                <th>Premium</th>
                <td>Premium & Res Var</th>
                <th>Claims Paid</th>
                <th>Paid Claims & Res Var</th>
                <th>Reinsurance Comm</th>
                <th>Broker Comm</th>
                <th>Profit Sharing</th>
                <th>Taxes</th>
                <th>Interests</th>
                <th>Technical Balance</th>
              </tr>
              <tr>
                <td><%= @premium %></td>
                <td><%= @premium_and_reserves_change %></td>
                <td><%= @claim_paid %></td>
                <td><%= @claim_paid_and_reserves_change %></td>
                <td><%= @reinsurance_comm %></td>
                <td><%= @broker_comm %></td>
                <td><%= @profit_sharing %></td>
                <td><%= @taxes %></td>
                <td><%= @interests %></td>
                <td><%= @balance %></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="container-chart">
            <div class="card-chart">
          <div class="card-chart-img">
          </div>
          <div class="card-chart-text">
          Chart card
          </div>
            </div>
          <div class="card-chart">
          <div class="card-chart-img">
          </div>
          <div class="card-chart-text">
          Chart card
          </div>
            </div>
        </div>

      </div>

    </div>

    <div class="container-bottom">
      <div class="card-news">
        <h3>Latest News</h3>
        <p>Prudential Plans to Boost Life Insurance Prices for Vapers</p
      </div>
    </div>

  </div>

</div>
