<div class="container-dashboard" id="dashboard-area">
  <div class="container-top">
    <div class="container-left">
      <div class="card-survey">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <div class="card-chart-text">
          <%= render 'shared/note' %>
        </div>
      </div>
    </div>

    <div class="container-right  d-flex">
      <div class="card-chart">
        <div class="card-chart-text">
          Claims Paid
          <canvas id="ClaimPaid" width="400" height="400" data-years="<%= @data_process.map { |k, v| k  }.sort.to_json %>" data-process-json="<%= @data_process.map{ |k, v| v[:claim_paid][:value] * -1 }.to_json %>" ></canvas>
        </div>
      </div>
      <div class="card-chart">
        <div class="card-chart-text">
          Claims & Reserves Change
          <canvas id="claimsAndRes" width="400" height="400" data-years="<%= @data_process.map { |k, v| k  }.sort.to_json %>" data-process-json="<%= @data_process.map{ |k, v| v[:claim_paid_and_reserves_change][:value] * -1 }.to_json %>"></canvas>
        </div>
      </div>
    </div>
  </div>      <!-- Create an element where the map will take place -->
</div>


