
<div class="sidebar" id='id-sidebar'>
  <div class="sidebar-main open" id="sidebar-main-js">

    <a href="javascript:void(0)" class="closebtn" id="close-sidebar-btn-js">
      <i id="icon" class="fas fa-angle-double-left"></i>
    </a>

    <form>
      <p>Balance Year</p>
      <% @select_years.each do |year| %>
        <li><%= check_box_tag "balance_year[#{year}]", year %>
        <%= label_tag year %></li>
      <% end %>
      <p>Countries</p>
      <% @select_countries.each do |country| %>
          <li><%= check_box_tag "country[#{country}]", country %>
          <%= label_tag country %></li>
        <% end %>
      <p>Networks</p>
      <% @select_networks.each do |network| %><li><%= check_box_tag "network[#{network}]", network %><%= label_tag network %></li>
        <% end %>

      <p><input type="submit" value="Submit"></p>
    </form>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mail to your teammates</a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <% all_team = User.all.where("id != ?", current_user.id) %>
        <% team = all_team.where("international_client_id = #{current_user.international_client_id}") %>
        <% team.each do |member| %>
          <% url = request.original_url %>
          <%= link_to member.first_name, action="rails/mailers/user_mailer/welcome?id=#{member.id}&url=#{url}", class: "dropdown-item" %>
          <% raise  %>
        <% end %>
        <%#= link_to member.first_name, url_for(host: 'localhost:3000', controller: 'user_mailer', action: 'welcome'),  class: "dropdown-item" %>
      </div>
  </li>

<!--         <ul>Risks
      <% @select_risks.each do |risk| %>
        <li><%= check_box_tag "risk[#{risk}]", risk %>
          <%= label_tag risk %></li>
      <% end %>
    </ul>
    <ul>Local Insurers
      <% @select_local_insurers.each do |li| %>
        <li><%= check_box_tag "li[#{li}]", li %>
          <%= label_tag li %></li>
      <% end %>
    </ul>
    <ul>Geo Area
      <% @select_geo_area.each do |ga| %>
        <li><%= check_box_tag "ga[#{ga}]", ga %>
          <%= label_tag ga %></li>
      <% end %>
    </ul>
    <ul>Business Div
      <% @select_business_div.each do |bd| %>
        <li><%= check_box_tag "bd[#{bd}]", bd %>
          <%= label_tag bd %></li>
      <% end %>
    </ul>
    <ul>Local Client
      <% @select_local_clients.each do |lc| %>
        <li><%= check_box_tag "lc[#{lc}]", lc %>
          <%= label_tag lc %></li>
      <% end %>
    </ul>
    <ul>Quarter
      <% @select_quarter.each do |q| %>
        <li><%= check_box_tag "q[#{q}]", q %>
          <%= label_tag q %></li>
      <% end %> -->
 <!--    </ul> -->

  </div>
</div>
