<div class="sidebar" id='id-sidebar'>
  <div class="sidebar-main open" id="sidebar-main-js">

    <a href="javascript:void(0)" class="closebtn" id="close-sidebar-btn-js">
      <i id="icon" class="fas fa-angle-double-left"></i>
    </a>

    <form>
      <p class="filter">Balance Year</p>
        <% @select_years.sort.each do |year| %>
          <% checked = @checked_values[:balance_year].include?(year.to_s)  %>
          <li class="filter"><%= check_box_tag "balance_year[#{year}]", year, checked %>
          <%= label_tag year %></li>
        <% end %>

      <p class="filter">Countries</p>
      <% @select_countries.sort.each do |country| %>
        <% checked = @checked_values[:country].include?(country)  %>
          <li class="filter"><%= check_box_tag "country[#{country}]", country, checked %>
          <%= label_tag country %></li>
         <% end %>

        <p class="filter">Risks</p>
        <% @select_risks.sort.each do |risk| %>
          <% checked = @checked_values[:risk].include?(risk)  %>
          <li class="filter"><%= check_box_tag "risk[#{risk}]", risk, checked %>
          <%= label_tag risk %></li>
        <% end %>

      <p><input type="submit" value="Filter" class="btn btn-blue filter"></p>
    </form>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle btn btn-yellow mail-to-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Email Team</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <% all_team = User.all.where("id != ?", current_user.id) %>
        <% team = all_team.where("international_client_id = #{current_user.international_client_id}") %>
        <% team.each do |member| %>
          <%= button_to "#{member.first_name}", share_page_with_options_pages_path(user_id: member.id, shared_url: request.original_url, remote: true, method: :post), class: "btn-turquoise", data: {toggle: "modal", target: "#exampleModalCenter"} %>
        <% end %>
      </div>
  </li>


<!--
   <p class="filter">Networks</p>
        <% @select_networks.sort.each do |network| %>
          <% checked = @checked_values[:reinsurance_network].include?(network)  %>
          <li class="filter"><%= check_box_tag "network[#{network}]", network, checked %>
          <%= label_tag network %></li>
        <% end %>
    <ul>Local Insurers
      <% @select_local_insurers.each do |li| %>
        <li><%= check_box_tag "li[#{li}]", li %>
          <%= label_tag li %></li>
      <% end %>
    </ul>
    <ul>Geo Area
      <% @select_geo_area.each do |ga| %>
        <li><%= check_box_tag "ga[#{ga}]", ga %>
          <%= label_tag ga %></li>
      <% end %>
    </ul>
    <ul>Business Div
      <% @select_business_div.each do |bd| %>
        <li><%= check_box_tag "bd[#{bd}]", bd %>
          <%= label_tag bd %></li>
      <% end %>
    </ul>
    <ul>Local Client
      <% @select_local_clients.each do |lc| %>
        <li><%= check_box_tag "lc[#{lc}]", lc %>
          <%= label_tag lc %></li>
      <% end %>
    </ul>
    <ul>Quarter
      <% @select_quarter.each do |q| %>
        <li><%= check_box_tag "q[#{q}]", q %>
          <%= label_tag q %></li>
      <% end %> -->
 <!--    </ul> -->

  </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Email successfully sent !
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
