<div class="wrapper">
  <div class="sidebar-main">
    <li class="sidebar-item" aria-labelledby="navbarDropdown">
      <ul class="cat-dropdown">Categories</ul>
      <ul class="year-dropdown">Year</ul>
        <%= link_to 2017, '#' %>
        <%= link_to 2018, '#' %>
        <%= link_to 2019, '#' %>
        <%= link_to "UPLOAD DATA", new_file_upload_path %>
<br>
<%= link_to "DIVE INTO...", "#" %>
<br>
    </li>
  </div>
</div>
