<div class="banner" style="background-image: linear-gradient(rgba(18, 23, 43,0.2),rgba(18, 23, 43,0.5)), url(https://image.freepik.com/free-photo/office-desktop-with-laptop-analytics_23-2148174089.jpg);">
  <div class="container">
    <h1>Cloud platform for risk managers</h1>
    <p>All the tools you need to make good insurance decisions</p>
    <div><a class="btn btn-yellow" href="#">Book a demo</a></div>
  </div>
</div>



    <!--====== CLIENT LOGO PART START ======-->

    <div class="counter-area">
      <div class="container">
        <div class="client-title text-center">
          <h2 class="title">Counter</h2>
        </div>
        <div class="container-counter">
            <div class="single-counter ">
              <h3>134 users</h3>
            </div> <!-- single client -->
            <div class="single-counter ">
              <h3>134 users</h3>
            </div> <!-- single client -->
            <div class="single-counter ">
              <h3>134 users</h3>
            </div> <!-- single client -->
        </div>
      </div> <!-- container -->
    </div>

    <!--====== CLIENT LOGO PART ENDS ======-->




    <!--====== CLIENT LOGO PART START ======-->

    <div class="client-logo-area">
      <div class="container">
        <div class="client-title text-center">
          <h2 class="title">Clients</h2>
        </div>
        <div class="container-clients">
            <div class="single-client img ">
              <%= image_tag "client_logo_01.png" %>
            </div> <!-- single client -->
            <div class="single-client img ">
              <%= image_tag "client_logo_02.png" %>
            </div> <!-- single client -->
            <div class="single-client img">
              <%= image_tag "client_logo_03.png" %>
            </div> <!-- single client -->
        </div>
      </div> <!-- container -->
    </div>

    <!--====== CLIENT LOGO PART ENDS ======-->





<!-- SERVICES -->

<div class="container-fenix-service">
  <h2 id="fenix-service-search" class="fenix-service-text">Our Services</h2>
  <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">


    <div class="card-category">
        <%= image_tag "claim_experience.png" %>
      <div class ="card-category-info">
        <p>Claims</p>
      </div>
    </div>


  <div class="card-category">
    <%= image_tag "contract_renewal.png" %>
    <div class ="card-category-info">
      <p>Renewal</p>
    </div>
  </div>

   <div class="card-category">
      <%= image_tag "data_analytics.png" %>
     <div class ="card-category-info">
      <p>Data Analytics</p>
    </div>
  </div>


  <div class="card-category">
      <%= image_tag "healthcare.png" %>
     <div class ="card-category-info">
      <p>Healthcare</p>
    </div>
  </div>



  <div class="card-category">
      <%= image_tag "program_setup.png" %>
     <div class ="card-category-info">
      <p>Program Set-up</p>
    </div>
  </div>



  <div class="card-category">
      <%= image_tag "technical_review.png" %>
     <div class ="card-category-info">
      <p>Technical Review</p>
    </div>
  </div>

  </div>
</div>
