<!--====== VIDEO HEADER START ======-->

<header>
  <div class="overlay"></div>
  <%= video_tag("header_video") %>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://gcs-vimeo.akamaized.net/exp=1574175116~acl=%2A%2F1004812475.mp4%2A~hmac=0b00df562b9110cf6c6c608d2ddd5684b35e8c3d3d1a0e14db4de6ca54ee902c/vimeo-prod-skyfire-std-us/01/4115/10/270577517/1004812475.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="w-100 text-white">
        <h2 class="display-3">Tansform data complexity</h2>
        <h2 class="display-3 verticalFlip">into business
          <span> visualisations</span><span> reports</span><span> decisions</span></h2>
<!--         <p class="lead mb-0">Cloud platform for insurance risk-managers</p> -->
        <div><a class="btn btn-yellow" href="#">Book a demo</a></div>
      </div>
    </div>
  </div>
</header>

<!-- <section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <p>The HTML5 video element uses an mp4 video as a source. Change the source video to add in your own background! The header text is vertically centered using flex utilities that are build into Bootstrap 4.</p>
        <p>The overlay color can be changed by changing the <code>background-color</code> of the <code>.overlay</code> class in the CSS.</p>
        <p>Set the mobile fallback image in the CSS by changing the background image of the header element within the media query at the bottom of the CSS snippet.</p>
        <p class="mb-0">
          Created by <a href="https://startbootstrap.com">Start Bootstrap</a>
        </p>
      </div>
    </div>
  </div>
</section> -->

<!--====== VIDEO HEADER STOP ======-->


<!--====== PHOTO HEADER START ======-->

<!-- <div class="banner" style="background-image: linear-gradient(rgba(18, 23, 43,0.2),rgba(18, 23, 43,0.5)), url(https://image.freepik.com/free-photo/office-desktop-with-laptop-analytics_23-2148174089.jpg);">
  <div class="container">
    <h1>Cloud platform for insurance risk managers</h1>
    <p>Fenix transforms data complexity into bunisess decisions</p>
    <div><a class="btn btn-yellow" href="#">Book a demo</a></div>
  </div>
</div> -->

<!--====== VIDEO HEADER STOP ======-->


<!--====== ABOUT START ======-->

<div class="about-area">
  <div class="container">
    <div class="container-about">
      <div class="about-text">
        <p>"After 10 years in the insurance business, we saw the pain of juggling endless excell sheets. You are dependend on when an excel sheet is send to you to have access to the data. Then you need to map it to the other excel sheets send to you at other points in time. The time lost on waiting for and manually mapping data could be solved with technology. This is why we created Fenix."</p>
        <p class="light">— Geraldine Vanderkelen, CEO Fenix</p>
      </div>
      <div class="about-image">
        <%= image_tag "ceo.png" %>
      </div>
    </div>
  </div>
</div>


<!--====== ABOUT END ======-->

<!--====== WHY START ======-->

<div class="why-area">
  <div class="container">
    <h2 class="text-center">Why choose Fenix?</h2>
    <div class="container-why">

      <div class="container-why-wrapper">
      <div class="container-why-usp">
          <%= image_tag "data.png", class:"why-image"  %>
        <div class="why-text">
          <p>Data integration</p>
        </div>
      </div>
      </div>

      <div class="container-why-wrapper">
          <div class="container-why-usp">
          <%= image_tag "data_analytics.png", class:"why-image" %>
        <div class="why-text">
          <p>Centralized overview</p>
        </div>
      </div>
            </div>

      <div class="container-why-wrapper">
          <div class="container-why-usp">
          <%= image_tag "share.png", class:"why-image"  %>
        <div class="why-text">
          <p>Better decision making</p>
        </div>
      </div>
            </div>

    </div>
  </div>
</div>

<!-- <div class="cards">
  <div class="container">
  <div class="card-category">
    Easy data integration
  </div>

  <div class="card-category">
    Centralized overview
  </div>

  <div class="card-category">
    Intuitive and interactive
  </div>
  </div>
</div> -->



<!--====== WHY END ======-->


<!--====== HOW DOES IT WORK START ======-->

<div class="how-area">
  <div class="container">
    <h2 class="text-center">How does it work?</h2>
    <div class="container-how">

      <div class="container-how-usp center">
        <div class="how-timeline center">
          <%= image_tag "how.png" %>
        </div>
<!--         <div class="how-text">
          <h3>Upload Data</h3>
          <p>easy data upload and collaboration</p>
        </div> -->
      </div>


   <!--    <div class="container-how-usp">
        <div class="how-image">
          <%= image_tag "data.png" %>
        </div>
        <div class="how-text">
          <h3>Upload Data</h3>
          <p>easy data upload and collaboration</p>
        </div>
      </div>

          <div class="container-how-usp">
        <div class="how-image">
          <%= image_tag "share.png" %>
        </div>
        <div class="how-text">
          <h3>Instant overview</h3>
          <p>data is mapped to all data</p>
        </div>
      </div>

          <div class="container-how-usp">
        <div class="how-image">
          <%= image_tag "share.png" %>
        </div>
        <div class="how-text">
          <h3>Share your findings</h3>
          <p>with your teammembers</p>
        </div>
      </div>

          <div class="container-how-usp">
        <div class="how-image">
          <%= image_tag "share.png" %>
        </div>
        <div class="how-text">
          <h3>Make better decisions, reports, presentations</h3>
          <p>Intuitive and interactive</p>
        </div>
      </div> -->

    </div>
  </div>
</div>


<!--====== HOW DOES IT WORK END ======-->


<!--====== SERVICES ONE  START ======-->

<!-- <div class="service-area">
  <div class="container">
    <div class="container-service">
      <div class="service-text">
        <h2 class="sub-title">Upload Data</h2> -->
<!--         <h5 class="service-title">Optimized for remote team work</h5> -->
<!--         <p class="text">Upload your excel sheets with a click of a button.</p>
        <p>Your data gets mapped to the existing data.</p>
      </div>
      <div class="service-image">
        <%= image_tag "data.png" %>
      </div>
    </div>
  </div>
</div>
 -->
    <!--====== SERVICES ONE  ENDS ======-->

<!--====== SERVICES TWO  START ======-->

<!-- <div class="service-area">
  <div class="container">
    <div class="container-service">
      <div class="service-image">
        <%= image_tag "share.png" %>
      </div>
      <div class="service-text">
        <h2 class="sub-title">Collaborate</h2> -->
<!--         <h5 class="service-title">Optimized for remote team work</h5> -->
<!--         <p class="text">Share your current dashboard with your team members, again with a click of a button.</p>
        <p>Add comments, interpret, and make better decisions together.</p>
      </div>
    </div>
  </div>
</div> -->

    <!--====== SERVICES TWO  ENDS ======-->



    <!--====== COUNTER START ======-->

    <div class="counter-area">
      <div class="container">
        <div class="container-counter">
            <div class="single-counter ">
              <h3>134</h3>
              <h4>reports uploaded</h4>
            </div> <!-- single client -->
            <div class="single-counter ">
              <h3>256.941</h3>
              <h4>data rows merged</h4>
            </div>
            <div class="single-counter ">
              <h3>450</h3>
              <h4>hours saved</h4>
            </div>
        </div>
      </div>
    </div>

    <!--====== COUNTER ENDS ======-->

    <!--====== CUSTOMER FEEDBACK START ======-->

   <div class="feedback-area">
      <div class="container">
        <div class="container-feedback">
            <div class="single-feedback ">
              <p>"Since we discovered Fenix we saved so much time. The fact you can share your finidng wwith a click of a button to your teammembers around the world is a real gamechanger."</p>
              <p class="light">— Benoit Cools, CEO Coca-Cola</p>
            </div> <!-- single client -->
            <div class="single-feedback ">
              <p>"It is true. Same thing here. Since we discovered Fenix we saved so much time. The fact you can share your finidng wwith a click of a button to your teammembers around the world is a real gamechanger."</p>
              <p class="light">— Stephanie Delbecque, CEO Pepsi</p>
            </div>
        </div>
      </div>
    </div>

<!--====== CUSTOMER FEEDBACK END ======-->


<!--====== CLIENTS START ======-->

    <div class="client-logo-area">
      <div class="container">
        <div class="client-title text-center">
          <h2 class="title">Clients</h2>
        </div>
        <div class="container-clients">
            <div class="single-client img">
              <%= image_tag "client_logo_01.png" %>
            </div>
            <div class="single-client img">
              <%= image_tag "client_logo_02.png" %>
            </div>
            <div class="single-client img">
              <%= image_tag "client_logo_03.png" %>
            </div>
        </div>
      </div>
    </div>

<!--====== CLIENTS ENDS ======-->



