<!--====== VIDEO HEADER START ======-->
<div class="landing"> <%= render 'shared/navbar' %> </div>
<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">

    <source src="https://res.cloudinary.com/dmwpalbj8/video/upload/v1574261982/Site_-_16261_ovn0nh.mp4" type="video/mp4">

</video>
  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="w-100 text-white">
        <h2 class="display-3">Tansform data complexity</h2>
        <h2 class="display-3 verticalFlip">into business
          <span> visualisations</span><span> reports</span><span> decisions</span></h2>
<!--         <p class="lead mb-0">Cloud platform for insurance risk-managers</p> -->
        <!-- <div><a class="btn btn-yellow" href="#">Book a demo</a></div> -->
      </div>
    </div>
  </div>
</header>
<!--====== VIDEO HEADER STOP ======-->


<!--====== ABOUT START ======-->

<div class="about-area">
  <div class="container">
    <div class="container-about">
      <div class="about-text">
        <p>"After 10 years in the insurance business, we saw the pain of juggling with
          endless excel sheets, of manual data integration and of data availability
        — essential for decision making.</p>
        <p>Fenix provides a solution offering corporate clients a global vision of their insurance and risk management portfolio, combining data mining and consultancy expertise."</p>
        <p class="light">— Geraldine Vanderkelen, Co-founder Fenix</p>
      </div>
      <div class="about-image">
        <%= image_tag "ceo.png" %>
      </div>
    </div>
  </div>
</div>


<!--====== ABOUT END ======-->

<!--====== WHY START ======-->

<div class="why-area">
  <div class="container">
    <h2 class="text-center">Why choose Fenix?</h2>
    <div class="container-why">

      <div class="container-why-wrapper">
      <div class="container-why-usp">
          <%= image_tag "data.png", class:"why-image"  %>
        <div class="why-text">
          <h3>Data Integration</h3>
          <p>Your business management starts with the understading of your data. Fenix offers you a <strong>hasselfree data aquisition</strong> and <strong>integration</strong> platform.</p>
        </div>
      </div>
      </div>

      <div class="container-why-wrapper">
          <div class="container-why-usp">
          <%= image_tag "data_analytics.png", class:"why-image" %>
        <div class="why-text">
          <h3>Centralized Overview</h3>
          <p>With Fenix, you can <strong>access your data anytime</strong> and <strong>anywhere</strong> in a few clicks. The dashboard has been built up around your business lifecycle.</p>
        </div>
      </div>
            </div>

      <div class="container-why-wrapper">
          <div class="container-why-usp">
          <%= image_tag "share.png", class:"why-image"  %>
        <div class="why-text">
          <h3>Smooth Coordination</h3>
          <p>The dashboard allows you to easily coordinate the team activity and <strong>share data visualizations</strong> and <strong>analytics</strong> with the rest of your team.</p>
        </div>
      </div>
            </div>

    </div>
  </div>
</div>

<!--====== WHY END ======-->


<!--====== HOW DOES IT WORK START ======-->

<div class="how-area">
  <div class="container">
    <div class="container-how">
      <h2 class="text-center">How does it work?</h2>
          <%= image_tag "timeline.png" %>
    </div>
  </div>
</div>

<!--====== HOW DOES IT WORK END ======-->

<!--====== COUNTER START ======-->

    <div class="counter-area ">
      <div class="container">
        <div class="container-counter">
            <div class="single-counter text-center">
              <h3>1,341</h3>
              <p>reports uploaded</p>
            </div> <!-- single client -->
            <div class="single-counter text-center">
              <h3>256,941,324</h3>
              <p>data rows merged</p>
            </div>
            <div class="single-counter text-center">
              <h3>256</h3>
              <p>dashboards shared</p>
            </div>
        </div>
      </div>
    </div>

    <!--====== COUNTER ENDS ======-->

    <!--====== CUSTOMER TESTIMONIAL START ======-->

   <div class="testimonial-area">
      <div class="container">
        <div class="container-testimonial">
            <div class="single-testimonial ">
              <p>"Fenix limits time and errors with endless sheets and calculations. The fact you can share your findings wwith a click of a button to your teammembers around the world is a real gamechanger."</p>
              <p class="light">— Benoît Cols, CEO Coca-Cola</p>
            </div> <!-- single client -->
            <div class="single-testimonial ">
              <p>"Using Fenix we no longer need to manually combine, update and share excel sheets. We can just upload the data and get a dashboard tailored to our needs, where we can easily filter and understand what our business need."</p>
              <p class="light">— Stephanie Delbecque, CEO Xerox Corporation</p>
            </div>
        </div>
      </div>
    </div>

<!--====== CUSTOMER FEEDBACK END ======-->


<!--====== CLIENTS START ======-->

    <div class="client-logo-area">
      <div class="container">
        <div class="client-title text-center">
          <h2 class="title">Trusted by</h2>
        </div>
        <div class="container-clients">
            <div class="single-client img">
              <%= image_tag "client_logo_01.png" %>
            </div>
            <div class="single-client img">
              <%= image_tag "client_logo_02.png" %>
            </div>
            <div class="single-client img">
              <%= image_tag "client_logo_03.png" %>
            </div>
        </div>
      </div>
    </div>

<!--====== CLIENTS ENDS ======-->



