
<%= link_to "UPLOAD DATA", new_file_upload_path %>
<br>
<%= link_to "DIVE INTO...", "#" %>
<br>

<div class="container-dashboard">
  <div class="sidebar">
    Sidebar
  </div>
    <h1>KPI</h1>
    <div class="card-kpi">
      <h1>Commissions Ratio</h1>
      <h2><%= @commission_ratio %></h2>
    </div>
    <div class="card-kpi">
      <h1>Claims Ratio</h1>
      <h2><%= @claim_ratio %></h2>
    </div>
    <div class="card-kpi">
      <h1>Balance Ratio</h1>
      <h2><%= @balance_ratio%></h2>
    </div>
  <div class="card-table">
    Table card
  </div>
  <div class="card-chart">
    Chart card
  </div>
  <div class="card-news">
    News card
  </div>
</div>
