<div class="container container-upload">

<table>
  <tbody>
    The last upload has been done at <strong><%= @accounting_data.last.created_at %></strong>
    <br>
    <br>
    <p><%= link_to "Data Uploader", new_file_upload_path, class: "btn-yellow" %></p>
    <br>
    ALL THE STORED DATA :
    <br>
    <br>
    <% @accounting_data.each do |data|  %>
      <tr>
        <td><%= data.balance_year %></td>
        <td><%= data.quarter %></td>
        <td><%= data.local_insurer %></td>
        <td><%= data.geo_area %></td>
        <td><%= data.country %></td>
        <td><%= data.product %></td>
        <td><%= data.business_division %></td>
        <td><%= data.local_client %></td>
        <td><%= data.reinsurance_network %></td>
        <td><%= data.risk %></td>
     <!--    <td><%= data.policy_number %></td>
        <td><%= data.benefit %></td>
        <td><%= data.effective_date %></td>
        <td><%= data.cancellation_date %></td>
        <td><%= data.premium %></td>
        <td><%= data.premium_and_reserves_change %></td>
        <td><%= data.claim_paid %></td>
        <td><%= data.claim_paid_and_reserves_change %></td>
        <td><%= data.reinsurance_comm %></td>
        <td><%= data.broker_comm %></td>
        <td><%= data.profit_sharing %></td>
        <td><%= data.taxes %></td>
        <td><%= data.interests %></td>
        <td><%= data.balance %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</div>
