<div class="container">
  <h1>Edit</h1>
  <%= simple_form_for @contact do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.button :submit, "Submit", class:"btn-flat"%>
  <% end %>
</div>
